.box{
  height: 60px;
  width: 60px;
  border: 3px solid black;
  margin: 5px;
}

#heading{
  text-align: center ;
}

#container{
  height: 600px;
  width: 600px;
  padding: 10px;
  margin: 20px;
  border: 3px solid black;


  display: flex;
  flex-direction: row-reverse ;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
#box1{
  align-self:normal;
}
#box2{
  flex-shrink: 0.5;
}
#box3{
  flex-grow: 3;
}