
      /* element selector */
      h1 {
        color: coral;
      }
      p {
        color: darkorchid;
      }
      /* universal selector  */
      * {
        background-color: aqua;
      }

      /* id selector */
      #first-div {
        color: crimson;
      }

      /* class selector */
      .second {
        color: yellow;
        background-color: black;
      }

      /* group selector */
      h1, h2, h3 {
        color: brown;
      }

      /* descendent selector  */
      #new p {
        color: darkgoldenrod;
      }
